{% extends 'base.html.twig' %}

{% block title %}
    快答 - 安知
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/aq.css">
{% endblock %}

{% block body %}
 <header class="bar bar-nav">
     <h1 class="title">快答</h1>
     <button class="button pull-right" onclick="javascript:window.location.href='{{ path("addtopicpage") }}'">
      提问
    </button>
  </header>
<nav class="bar bar-tab topbar">
    <a class="tab-item" href="{{ path('homepage') }}">
        <span class="icon icon-home"></span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item " href="{{ path('partmentindex') }}">
        <span class="icon iconfont" >&#xe635;</span>
        <span class="tab-label">私董会</span>
    </a>
    <a class="tab-item active" href="{{ path('topicindex') }}">
        <span class="icon iconfont" >&#xe63c;</span>
        <span class="tab-label">快答</span>
    </a>
    <a class="tab-item " href="{{ path('myindex') }}">
        <span class="icon iconfont" >&#xe619;</span>
        <span class="tab-label">我的</span>
    </a>
</nav>

  <div class="content">
    <!-- 这里是页面内容区 -->
        <div class="content-padded">
        <div class="searchbar row">
        <div class="search-input col-85">
          <input id="search" placeholder="输入关键字..." type="search">
        </div>
        <a class="button button-fill button-primary col-15"><span class="icon icon-search"></span></a>
      </div>
    </div>

    <div class="list-block cards-list">
      <ul>
        {% for d in result  %}
            <li class="card">
          <div class="card-header color-white no-border ui-nowrap-multi1">问：{{ d.title }}</div>
          <div class="card-content">
            <div class="card-content-inner">{{ d.detail }}</div>
          </div>
          <div class="card-footer">
        <a href="javascript:;" class="link zan" data-tid="{{ d.tid }}" data-mid="{{ mid }}"><span class="icon iconfont" >&#xe635;</span><i id="{{ d.tid }}">{{ d.zans }}</i></a>
        <a href="javascript:;" class="link infoaq">{{ d.uname }}/<i>石油化工</i></a>
        </div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function(){
            $(".zan").each(function(index,item){
                $(item).on('click', function(){
                    if($(item).data('mid') == undefined){
                        $.alert('请先登录');
                        window.setTimeout(function(){
                            window.location.href='{{ path("loginpage") }}';
                        }, 1000);
                        return false;
                    }
                    $.ajax({
                        url: "{{ path('likepost') }}",
                        type: "POST",
                        data: "tid=" + $(item).data('tid') + "&mid=" + $(item).data('mid') + "&zan=1",
                        success: function (d) {
                            $("#" + $(item).data('tid')).html(d.data);
                        }
                    });
                });
            });
        });
    </script>
{% endblock %}