{% extends 'base.html.twig' %}

{% block title %}
    快答 - 安知
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/aq.css">
{% endblock %}

{% block body %}
 <header class="bar bar-nav">
     <h1 class="title">快答</h1>
     <a class="button pull-right" href="{{ path("addtopicpage") }}">
      提问
    </a>
  </header>
<nav class="bar bar-tab topbar">
    <a class="tab-item" href="{{ path('homepage') }}">
        <span class="icon iconfont">&#xe606;</span>
        <span class="tab-label">首页</span>
    </a>
    <a class="tab-item " href="{{ path('partmentindex') }}">
        <span class="icon iconfont" >&#xe619;</span>
        <span class="tab-label">私董会</span>
    </a>
    <a class="tab-item active" href="{{ path('topicindex') }}">
        <span class="icon iconfont" >&#xe622;</span>
        <span class="tab-label">快答</span>
    </a>
    <a class="tab-item " href="{{ path('myindex') }}">
        <span class="icon iconfont" >&#xe613;</span>
        <span class="tab-label">我的</span>
    </a>
</nav>

  <div class="content">
    <!-- 这里是页面内容区 -->
    <form action="{{ path('searchresultpage') }}" method="get">
        <div class="content-padded">
            <div class="searchbar row">
            <div class="search-input col-85">
              <input id="keyword" name="keyword" placeholder="输入关键字..." type="text">
            </div>
            <button class="button button-fill button-primary col-15"><span class="icon icon-search"></span></button>
          </div>
        </div>
    </form>
    <div class="list-block cards-list">
      <ul>
        {% for d in result  %}
            <li class="card">
          <a href="{{ path('topicdetail', {'tid': d.tid}) }}"><div class="card-header color-white no-border ui-nowrap-multi1">问：{{ d.title }}</div></a>
          <div class="card-content">
            <div class="card-content-inner">{{ d.detail | replace({'\n':'<br/>'}) | raw }}</div>
          </div>
          <div class="card-footer">
        <a href="javascript:;" class="link fav" data-tid="{{ d.tid }}" data-mid="{{ mid }}" data-fid="{{ d.myfav }}" style="color:{{ d.myfav == 0 ? '#CCC': '' }}"><span class="icon iconfont" >&#xe60e;</span><i id="{{ d.tid }}">{{ d.favs }}</i></a>
        <a href="{{ path('memberdetailpage', {'mid': d.mid}) }}" class="link infoaq" >{{ d.uname }}/<i>{{d.product}}</i></a>
        </div>
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            //收藏
            $(".fav").each(function(index,item){
                $(item).on('click', function() {
                    if ($(item).data('mid') == undefined) {
                        $.alert('请先登录');
                        window.setTimeout(function () {
                            window.location.href = '{{ path("loginpage") }}';
                        }, 1000);
                        return false;
                    }

                    $.ajax({
                        url:"{{ path('favpost') }}",
                        type: "POST",
                        data: "mid=" + $(item).data('mid') + "&tid=" + $(item).data('tid') + "&fid=" + $(item).data('fid'),
                        success: function (d) {
                            $(item).attr('data-fid', d.fid);
                            if(d.fid == '0'){
                                $(item).css('color', '#CCC;');
                            }else{
                                $(item).css('color', '');
                            }
                            $("#" + $(item).data('tid')).html(d.favs);
                        }
                    });
                });
            });
            //搜索
        });
    </script>
{% endblock %}