{% extends 'base.html.twig' %}
{% block title %}
    {{ topic.title }} - 我的安全私董会
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/aq.css">
{% endblock %}

{% block body %}

    <header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="javascript:;" onclick="javascript:window.history.back();">
      <span class="icon icon-left"></span>
      </a>
     <h1 class="title">{{ topic.title }}</h1>
    </header>
    <nav class="bar bar-tab topbar">
        <a class="tab-item" href="{{ path('homepage') }}">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item " href="{{ path('partmentindex') }}">
            <span class="icon iconfont" >&#xe619;</span>
            <span class="tab-label">私董会</span>
        </a>
        <a class="tab-item active" href="{{ path('topicindex') }}">
            <span class="icon iconfont" >&#xe622;</span>
            <span class="tab-label">快答</span>
        </a>
        <a class="tab-item " href="{{ path('myindex') }}">
            <span class="icon iconfont" >&#xe613;</span>
            <span class="tab-label">我的</span>
        </a>
    </nav>
  <div class="content">
    <!-- 这里是页面内容区 -->
    <div class="card facebook-card">
    <a href="{{ path('memberdetailpage', {'mid': topic.mid}) }}">
      <div class="card-header no-border">
        <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
        <div class="facebook-name">{{ author.uname }}</div>
        <div class="facebook-date">{{ topic.tid | date("Y-m-d") }}</div>
      </div>
    </a>
      <div class="card-header color-white no-border ui-nowrap-multi1">问：{{ topic.title }}</div>
      <div class="card-content" style="padding: .3rem .75rem;">{{ topic.detail }}</div>
      <div class="card-footer no-border" style=" text-align:right;">
          <textarea placeholder="我的答案" style="width:100%;" rows='2' name="desc" id="desc"></textarea>
      </div>
        <div class="card-footer no-border" style=" text-align:right;"><button class="ui-btn-lg ui-btn-primary submitAnswer" data-tid="{{ topic.tid }}" data-mid="{{ loginuser }}">我来回答</button></div>
    </div>

    <div class="list-block cards-list">
      <ul>
          {% for d in answers %}
              <li class="card">
                  <a name="{{ d.Aid }}"></a>
                  <div class="card-header no-border nocolor">
                      <div class="facebook-avatar"><img src="http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg" width="34" height="34"></div>
                      <div class="facebook-name">{{ d.uname }}</div>
                      <div class="facebook-date">{{ d.Aid | date("Y-m-d") }}</div>
                  </div>
                  <div class="card-content">
                      <div class="card-content-inner">{{ d.answer }}</div>
                  </div>
                  <div class="card-footer">
                      <a href="#" class="link"> <span class="icon iconfont" >&#xe627;</span> <i>0</i></a>
                      <!--<a href="#" class="link infoaq">彭小燕/<i>石油化工</i></a>-->
                  </div>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $(".submitAnswer").on('click', function () {
            if($(this).data('mid') == undefined){
                $.alert('请先登录');
                window.setTimeout(function(){
                    window.location.href='{{ path("loginpage") }}';
                }, 1000);
                return false;
            }

            $.ajax({
                url: '{{ path("answerpost") }}',
                type: "POST",
                data: "mid=" + $(this).data('mid') + "&tid=" + $(this).data('tid') + "&answer=" + $("#desc").val(),
                success: function (d) {
                    if(d.success == '1'){
                        window.location.reload();
                    }
                }
            });
        });
    });
</script>
{% endblock %}