{% extends 'base.html.twig' %}

{% block title %}
    私董会 - 安知
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/partment.css">
{% endblock %}

{% block body %}
    <header class="bar bar-nav">
        <h1 class="title">私董会</h1>
        <button class="button pull-right" onclick="javascript:window.location.href='{{path("partmentadd")}}'">发布</button>
    </header>
    <nav class="bar bar-tab topbar">
        <a class="tab-item" href="{{ path('homepage') }}">
            <span class="icon iconfont">&#xe606;</span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item active" href="{{ path('partmentindex') }}">
            <span class="icon iconfont" >&#xe619;</span>
            <span class="tab-label">私董会</span>
        </a>
        <a class="tab-item " href="{{ path('topicindex') }}">
            <span class="icon iconfont" >&#xe622;</span>
            <span class="tab-label">快答</span>
        </a>
        <a class="tab-item " href="{{ path('myindex') }}">
            <span class="icon iconfont" >&#xe613;</span>
            <span class="tab-label">我的</span>
        </a>
    </nav>

    <div class="content">
        <!-- 这里是页面内容区 -->

        <div class="list-block media-list">
      <ul style=" background:#f2f2f2;" class="zulist">
        {% for d in result %}
          <li>
            <a href="{{path('tagtopicspage', {'tagid': d.id})}}" class="item-link item-content">
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title"><span class="biaoqian{{ d.id }}">{{d.tagname}}</span>  {{d.tagname}}</div>
                </div>
                <div class="item-subtitle">{{d.membercount}}人参与描述，{{d.favcount}}人关注</div>
                <div class="item-text">欢迎参加讨论我们的热门话题</div>
              </div>
            </a>
          </li>
        {% endfor %}       
      </ul>
    </div>
{% endblock %}