{% extends 'base.html.twig' %}
{% block title %}
    {{ topic.title }}- 我的安全私董会
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/aq.css">
{% endblock %}

{% block body%}
	<header class="bar bar-nav">
      <a class="button button-link button-nav pull-left back" href="{{path('partmentindex')}}" >
      <span class="icon icon-left"></span>
      </a>
     <h1 class="title">{{ topic.title }}</h1>
    </header>
	<div class="bar bar-footer-secondary">
    {% if invited.invited == 1 %}
    	<a href="{{path('partmentanswer', {'tid': topic.tid})}}"><button class="button button-block" style="background:#007c84;height:45px;line-height:45px;">立即回答</button></a>
    {%else%}
      <a href="javascript:void(0)" onclick="javascript:$.alert('申请成为专家可获得席位');"><button class="button button-block" style="background:#007c84;height:45px;line-height:45px;">立即回答</button></a>
    {%endif%}
  	</div>
    <div class="content">
    <!-- 这里是页面内容区 -->
    <div class="card facebook-card">
    <a href="{{ path('memberdetailpage', {'mid': topic.mid}) }}">
      <div class="card-header no-border">
        <div class="facebook-avatar"><img src="http://placeholder.qiniudn.com/100x100" width="34" height="34"></div>
        <div class="facebook-name">{{ author.uname }}</div>
        <div class="facebook-date">{{ topic.tid | date("Y-m-d") }}</div>
      </div>
    </a>
      <div class="card-header color-white no-border ui-nowrap-multi1">问：{{ topic.title }}</div>
      <div class="card-content" style="padding: .3rem .75rem;">{{ topic.detail | replace({'\n':'<br/>'}) | raw  }}</div>
        <div class="card-footer no-border" style=" text-align:right;">
            <a href="javascript:;" class="link" id="fav" data-tid="{{ topic.tid }}" data-mid="{{ loginuser }}" data-fid="{{ favs.myfav }}" style="color:{{ favs.myfav == 0 ? '': '#ff7900' }}"> <span class="icon iconfont"></span><i id="{{ topic.tid }}">{{ favs.favs }}</i></a>
            <a href="javascript:void(0)" class="link">讨论席位数 {{used.used}}/7</a>
        </div>
    </div>

    <div class="list-block cards-list">
      <ul>
          {% for d in answers %}
              <li class="card">
                  <a name="{{ d.Aid }}"></a>
                  <div class="card-header no-border nocolor">
                      <div class="facebook-avatar"></div>
                      <div class="facebook-name"></div>
                      <div class="facebook-date">{{ d.Aid | date("Y-m-d") }}</div>
                  </div>
                  <div class="card-content">
                      <div class="card-content-inner">{{ d.answer | replace({'\n':'<br/>'}) | raw }}</div>
                  </div>
                  <div class="card-footer">
                      <a href="javascript:;" class="link zan" data-aid="{{ d.Aid }}" data-mid="{{ loginuser }}" data-zid="{{ d.myzan }}" style="color:{{ d.myzan == 0 ? "#CCC" : "" }}"> <span class="icon iconfont" >&#xe627;</span> <i id="{{ d.Aid }}">{{ d.zans }}</i></a>
                      <a href="{{ path('memberdetailpage', {'mid': d.mid}) }}" class="link infoaq">{{ d.uname }}/<i>{{d.product}}</i></a>
                  </div>
              </li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function(){
        //提交答案
        $(".submitAnswer").on('click', function () {
            if($(this).data('mid') == undefined){
                $.alert('请先登录');
                window.setTimeout(function(){
                    window.location.href='{{ path("loginpage") }}';
                }, 1000);
                return false;
            }
            $.ajax({
                url: '{{ path("answerpost") }}',
                type: "POST",
                data: "mid=" + $(this).data('mid') + "&tid=" + $(this).data('tid') + "&answer=" + $("#desc").val(),
                success: function (d) {
                    if(d.success == '1'){
                        window.location.reload();
                    }
                }
            });
        });
        //点赞
        $(".zan").each(function(index,item){
            $(item).on('click', function () {
                if ($(item).data('mid') == undefined) {
                    $.alert('请先登录');
                    window.setTimeout(function () {
                        window.location.href = '{{ path("loginpage") }}';
                    }, 1000);
                    return false;
                }

                $.ajax({
                    url: "{{ path('likeanswerpost') }}",
                    type:"POST",
                    data:"aid=" + $(item).data('aid') + "&mid=" + $(item).data('mid') + "&zid=" + $(item).data('zid'),
                    success:function(d){
                        $(item).attr('data-zid', d.zid);
                        if(d.zid == '0'){
                            $(item).css('color', '#CCC;');
                        }else{
                            $(item).css('color', '');
                        }
                        $("#" + $(item).data('aid')).html(d.data);
                    }
                });
            })
        });
        //收藏
        $("#fav").on('click', function () {
            $.ajax({
                url:"{{ path('favpost') }}",
                type: "POST",
                data: "mid=" + $(this).data('mid') + "&tid=" + $(this).data('tid') + "&fid=" + $(this).data('fid'),
                success: function (d) {
                    $("#fav").attr('data-fid', d.fid);
                    if(d.fid == '0'){
                        $("#fav").css('color', '');
                    }else{
                        $("#fav").css('color', '#ff7900');
                    }
                    $("#" + $("#fav").data('tid')).html(d.favs);
                }
            });
        })
    });
</script>
{% endblock %}