{% extends 'base.html.twig' %}

{% block title %}
    我的收藏 - 安知
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/list.css">
{% endblock %}

{% block body %}
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" onclick="javascript:window.history.back()">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title">我的收藏</h1>
    </header>

    <nav class="bar bar-tab topbar">
        <a class="tab-item" href="{{ path('homepage') }}">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item " href="{{ path('partmentindex') }}">
            <span class="icon iconfont" >&#xe619;</span>
            <span class="tab-label">私董会</span>
        </a>
        <a class="tab-item active" href="{{ path('topicindex') }}">
            <span class="icon iconfont" >&#xe622;</span>
            <span class="tab-label">快答</span>
        </a>
        <a class="tab-item " href="{{ path('myindex') }}">
            <span class="icon iconfont" >&#xe613;</span>
            <span class="tab-label">我的</span>
        </a>
    </nav>

    <div class="content">
        <!-- 这里是页面内容区 -->
        {% for d in data %}
        <a href="{{ path('topicdetail', {'tid': d.tid}) }}">
            <div class="card">
                <div valign="bottom" class="card-header color-white no-border ui-nowrap-multi1">问: {{ d.title }}</div>
                <div class="card-content">
                    <div class="card-content-inner">
                        <p class="color-gray">发表于 {{ d.tid | date('Y-m-d') }}</p>
                        <div class="demo-block">
                            <div class="ui-nowrap-multi3">
                                {{ d.detail }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}