{% extends 'base.html.twig' %}

{% block title %}
    搜索结果
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="css/list.css">
{% endblock %}

{% block body %}
    <header class="bar bar-nav">
        <a class="button button-link button-nav pull-left back" onclick="javascript:window.history.back()">
            <span class="icon icon-left"></span>
        </a>
        <h1 class="title">搜索结果</h1>
    </header>

    <nav class="bar bar-tab topbar">
        <a class="tab-item" href="{{ path('homepage') }}">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item " href="{{ path('partmentindex') }}">
            <span class="icon iconfont" >&#xe619;</span>
            <span class="tab-label">私董会</span>
        </a>
        <a class="tab-item active" href="{{ path('topicindex') }}">
            <span class="icon iconfont" >&#xe622;</span>
            <span class="tab-label">快答</span>
        </a>
        <a class="tab-item " href="{{ path('myindex') }}">
            <span class="icon iconfont" >&#xe613;</span>
            <span class="tab-label">我的</span>
        </a>
    </nav>

    <div class="content">
        <h3>您搜索的是: {{ keyword }}, {{ result | length }}个结果:</h3>
        {% for d in result %}
            <div class="card">
                <a href="{{ path('topicdetail', {'tid': d.tid}) }}"><div valign="bottom" class="card-header color-white no-border ui-nowrap-multi1">{{ d.title }}</div></a>
                <div class="card-content">
                    <div class="card-content-inner">
                        <p class="color-gray">发表于 2015/01/15</p>
                        <div class="demo-block">
                            <div class="ui-nowrap-multi3">
                                {{ d.detail }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}